<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yanerson</title>
    <link rel="icon" href="../img/ico/good.ico">
</head>

<body>

    <style>
        body {
            background-color: black;
            text-align: center;
            color: white;
        }
    </style>

    <h1>Contraseña:</h1>
    <main>
        <h1>moki</h1>
    </main>

    <div id="countdown">Cuenta regresiva: de Cambio <span id="timer"></span>⏲</div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer style="color: white; text-align: center;">
        <ul>
            <h6>© Yanerson 2023 </h6>
        </ul>
    </footer>
    <script src="../js/general.js"></script>
</body>

</html>
