<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="icon" href="../img/ico/good.ico">
    <title>Yanerson</title>
</head>

<body class="no-scroll">

    <!-- -->
    <!-- -->
    <div class="centrado" id="onload">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- -->
    <div class="menu">
        <!-- -->

        <!-- tall =( es la altura) -->
        <!-- wide =(es el grosor) -->
        <!-- se pueden convinar para crear un bloque -->
        <!-- A -->
        <div class="grid-container">
            <div class="grid-item wide tall">
                <div id="countdown">Cuenta regresiva: <span id="timer"></span>⏲</div>
            </div>
            <!-- A -->
            <div class="grid-item">
                <div>
                    <section>

                        <head>
                            <a class="btn btn-outline-ligth" href="../index.html">
                                <img src="../img/asests/inicio.png" style="max-width: 40%;">
                            </a>
                        </head>
                    </section>
                </div>
            </div>
            <!-- A -->
            <div class="grid-item">
                <div>
                    <section>

                        <head>
                            <a class="btn btn-outline-ligth">
                                <img src="../img/asests/liu.png" style="max-width: 40%;">
                            </a>
                        </head>
                    </section>
                </div>
            </div>
            <!-- A -->
            <div class="grid-item wide">
                <div>
                    <section>

                        <head>
                            <a class="btn btn-outline-ligth"
                                href="https://apk.e-droid.net/apk/app2823903-ib6cpm.apk?v=2">
                                <img src="../img/asests/marketing/liu-a1.jpg" style="max-width:45%;">
                            </a>
                        </head>
                        <main class="text-center">
                            <section>

                                <head>
                                    <p>
                                        Colaboración
                                    </p>
                                </head>
                                <main>
                                    <p>
                                        Liu |
                                        Axel
                                    </p>
                                </main>
                            </section>
                        </main>
                    </section>
                </div>
            </div>
            <!-- A -->
            <div class="grid-item">
                <p>😀</p>
            </div>
            <!-- A -->
            <div class="grid-item">
                <p>😀</p>
            </div>
            <!-- A -->
            <div class="grid-item ">
                <p>😀</p>
            </div>
            <!-- A -->
            <div class="grid-item">
                <p>😀</p>
            </div>
            <!-- A -->
            <div class="grid-item">
                <p>😀</p>
            </div>
            <!-- A -->
            <div class="grid-item ">
                <p>😀</p>
            </div>
            <!-- A -->
            <div class="grid-item ">
                <p>😀</p>
            </div>
            <!-- A -->
            <div class="grid-item">
                <div>
                    <section>

                        <head>
                            <a href="https://apk.e-droid.net/apk/app2754056-jh92kt.apk?v=3"
                                class="btn btn-outline-ligth">💼</a>
                        </head>
                    </section>
                </div>
            </div>
            <!-- A -->
        </div>
        <!-- Botón 1 -->

    </div>
    <!-- -->

    <hr>
    <footer style="color: white;">
        <ul>
            <h6>© Yanerson 2023 </h6>
        </ul>
    </footer>

    <!-- -->
    <!-- -->
    <script src="../js/general.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- -->
    <!-- -->
</body>

</html>