<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="icon" href="img/ico/A-1-icon.ico">
  <link rel="stylesheet" href="../css/grid.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/general.css">
  <link rel="icon" href="../img/ico/good.ico">
  <style>

  </style>
  <title>Yanerson</title>
</head>

<body class="no-scroll">
  <!-- -->
  <!-- -->
  <div class="centrado" id="onload">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="menu">






    <!-- tall =( es la altura) -->
    <!-- wide =(es el grosor) -->
    <!-- se pueden convinar para crear un bloque -->
    <!-- A -->
    <div class="grid-container">
      <div class="grid-item wide tall">
        <div id="countdown">Cuenta regresiva: <span id="timer"></span>⏲</div>
      </div>
      <!-- A -->
      <div class="grid-item">
        <div>
          <section>

            <head>
              <a class="btn btn-outline-ligth" href="../index.html">
                <img src="../img/asests/inicio.png" style="max-width: 40%;">
              </a>
            </head>
          </section>
        </div>
      </div>
      <!-- A -->
      <div class="grid-item">
        <div>
          <section>

            <head>
              <a class="btn btn-outline-ligth">
                <img src="../img/asests/tienda.png" style="max-width: 40%;">
              </a>
            </head>
          </section>
        </div>
      </div>
      <!-- A -->
      <div class="grid-item wide  text-center">

<section>
        <head>
          <p>Bass Temp</p>
        </head>

        <main class="btn ">
          <script src="https://www.mercadopago.com.co/integrations/v1/web-payment-checkout.js"
            data-preference-id="1461581343-4dde114e-7cce-40b9-bdd9-e809aac451fc" data-source="button">
            </script>
        </main>  
</section>


      </div>
      <!-- A -->
      <div class="grid-item">
        <p>😀</p>
      </div>
      <!-- A -->
      <div class="grid-item">
        <p>😀</p>
      </div>
      <!-- A -->
      <div class="grid-item ">
        <p>😀</p>
      </div>
      <!-- A -->
      <div class="grid-item">
        <p>😀</p>
      </div>
      <!-- A -->
      <div class="grid-item">
        <p>😀</p>
      </div>
      <!-- A -->
      <div class="grid-item ">
        <p>😀</p>
      </div>
      <!-- A -->
      <div class="grid-item ">
        <p>😀</p>
      </div>
      <!-- A -->
      <div class="grid-item ">
        <p>😀</p>
      </div>
      <!-- A -->
    </div>
    <!-- -->
    <!-- -->
    <!-- -->
  </div>
  <!-- -->
  <hr>
  <footer style="color: white;">
    <ul>
      <h6>© Yanerson 2023 </h6>
    </ul>
  </footer>

  <!-- -->
  <!-- -->

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <!-- -->
  <!-- -->
  <!-- -->
  <!-- -->

  <script src="../js/general.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- -->
  <!-- -->
</body>

</html>