<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="icon" href="../img/ico/good.ico">
  <link rel="stylesheet" href="../css/grid-vip.css">
  <link rel="stylesheet" href="../css/vip.css">
  <link rel="stylesheet" href="../css/general.css">
  <style>

  </style>
  <title>Yanerson</title>
</head>

<body class="no-scroll">
  <!-- -->
  <!-- -->
  <div class="centrado" id="onload">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="menu">

    <!-- tall =( es la altura) -->
    <!-- wide =(es el grosor) -->
    <!-- se pueden convinar para crear un bloque -->
    <!-- A -->
    <div class="grid-container">
      <!-- A -->
      <div class="grid-item">
        <div>
          <section>

            <head>
              <a class="btn btn-outline-ligth" href="../index.html">
                <img src="../img/asests/inicio.png" style="max-width: 40%;">
              </a>
            </head>
          </section>
        </div>
      </div>
      <!-- A -->
      <div class="grid-item ">
        <div>
          <section>

            <head>
              <a class="btn btn-outline-ligth">
                <img src="../img/asests/vip.png" style="max-width: 40%;">
              </a>
            </head>
          </section>
        </div>
      </div>
      <!-- A -->
      <div class="grid-item wide" style="text-align: center;">
        <div>
          <section>
            <br>

            <head>
              <h1>Perfil</h1>
              <h5>mes</h5>
              <p>50.000</p>
            </head>
            <main>
              <script src="https://www.mercadopago.com.co/integrations/v1/web-payment-checkout.js"
                data-preference-id="1461581343-f5c849ec-98bd-4ed8-aed4-d2dc72465d4a" data-source="button">
                </script>
            </main>
            <br>
          </section>

        </div>
      </div>
      <!-- A -->
      <div class="grid-item wide" style="text-align: center;">
        <section>
          <br>

          <head>

            <ul style="padding: 0;">
              <h1>Perfil</h1>
              <h6>Subscribción</h6>
              <p>50.000</p>
            </ul>


          </head>

          <main>
            <div style="text-align: center;">
              <a mp-mode="dftl"
                href="https://www.mercadopago.com.co/subscriptions/checkout?preapproval_plan_id=2c9380848a6c204d018a7602bf80069b"
                name="MP-payButton" class='blue-ar-l-rn-none btn btn-primary'>Suscribirme</a>
            </div>
          </main>
          <br>
        </section>
      </div>
      <!-- A -->
      <div class="grid-item">
        <p>💎</p>
      </div>
      <!-- A -->
      <div class="grid-item ">
        <p>💎</p>
      </div>
      <!-- A -->
      <div class="grid-item">
        <p>💎</p>
      </div>
      <!-- A -->
      <div class="grid-item">
        <p>💎</p>
      </div>
      <!-- A -->
      <div class="grid-item ">
        <p>💎</p>
      </div>
      <!-- A -->
      <div class="grid-item ">
        <p>💎</p>
      </div>
      <!-- A -->
      <div class="grid-item ">
        <p>💎</p>
      </div>
      <!-- A -->
      <div class="grid-item ">
        <p>💎</p>
      </div>
      <!-- A -->
      <div class="grid-item ">
        <p>💎</p>
      </div>

      <!-- -->
    </div>

    <!-- -->
    <br><br><br><br><br><br><br><br>


    <footer>
      <ul>
        <h2 style="color: rgb(255, 255, 255);">© Yanerson 2023 </h2>
      </ul>
    </footer>
    <br>
    <!-- -->
    <!-- -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!-- -->
    <!-- -->
    <!-- -->
    <!-- -->
    <script src="../js/vip.js"></script>
    <script src="../js/general.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- -->
    <!-- -->
</body>

</html>