#countdown {
    font-size: 24px;
    text-align: center;
}

.imagen-caja {

    max-width: 3rem;
    text-align: center;

}

.card1 {
    background-image: linear-gradient(105deg, #7975df 0, #6c6cd8 50%, #5e64d1 100%);
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: center;
}

.card2 {
    background-image: linear-gradient(105deg, #7975df 0, #6c6cd8 50%, #5e64d1 100%);
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: center;

}

.card3 {
    background-image: linear-gradient(105deg, #7975df 0, #6c6cd8 50%, #5e64d1 100%);
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: center;

}


.card4 {
    background-image: linear-gradient(105deg, #7975df 0, #6c6cd8 50%, #5e64d1 100%);
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: center;
}

.card5 {
    background-image: linear-gradient(105deg, #7975df 0, #6c6cd8 50%, #5e64d1 100%);
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: center;
}
.free {
    background-image: linear-gradient(105deg, #7975df 0, #6c6cd8 50%, #5e64d1 100%);
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: center;
}


.vip {

    background-image: radial-gradient(circle at 89.77% 72.96%, #fffb67 0, #ffe760 16.67%, #ffd359 33.33%, #f2bd53 50%, #e2a84d 66.67%, #d39649 83.33%, #c58645 100%);
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: center;
}


.instagram {
    background-image: linear-gradient(105deg, #7975df 0, #6c6cd8 50%, #5e64d1 100%);
}

.consultoria {
    background-image: linear-gradient(105deg, #7975df 0, #6c6cd8 50%, #5e64d1 100%);
    color: rgb(255, 255, 255);
    font-size: 80%;
    text-align: center;
}

.whatsapp {
    background-image: linear-gradient(105deg, #7975df 0, #6c6cd8 50%, #5e64d1 100%);
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: center;
}

.whatsapp-icon {
    margin-top: 13px;
    color: rgb(255, 255, 255);
}

.labs {
    background-image: linear-gradient(105deg, #7975df 0, #6c6cd8 50%, #5e64d1 100%);
    color: rgb(255, 255, 255);
}

.info {
    background-image: linear-gradient(105deg, #7975df 0, #6c6cd8 50%, #5e64d1 100%);
    color: rgb(255, 255, 255);
}


