* {

    font-style: italic;

}

.no-scroll {
    overflow: hidden;

}

.menu {

margin: 10%;
color: rgb(255, 255, 255);
}

body {
    background-image: radial-gradient(circle at 89.77% 72.96%, #fffb67 0, #ffe760 16.67%, #ffd359 33.33%, #f2bd53 50%, #e2a84d 66.67%, #d39649 83.33%, #c58645 100%);
}

.centrado {

    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}



.illusion-container {
    width: 300px;
    height: 300px;
    background: white;
    border: 1px solid #ccc;
    position: relative;
}

.illusion-square {
    width: 150px;
    height: 150px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.illusion-square:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

